.header {
  @include paddingVertical(41px, 41px);
  position: absolute;
  z-index: 1;
  left: 0px;
  top: 0px;
  width: 100%;
  .container {
      @include flex(row, wrap, space-between, flex-start, space-between);
  }
  &__logo {
      text-transform: uppercase;
      letter-spacing: -2.1px;
      font: 700 26.5px/23px $font__main;
      color: #fff;
  }

  &__nav {
      padding-top: 10px;
  }
}