.subscription {
    @include paddingVertical(49px, 50px);
    background-image: url('../../../src/img/subscription/background.png');    
    background-size: cover;
    background-repeat: no-repeat;
    height: 329px;
    &__form {
        @include marginHorizontal(auto, auto);
        @include flex(row, nowrap, flex-end, flex-end, center);
        width: 546px;
        &__input {
            padding-left: 15px;
            height: 55px;
            width: 414px;
            border-top-left-radius: 2.9px;
            border-bottom-left-radius: 2.9px;
            background-color: #fefefe;
            border: none;
            font: 500 19px/40.5px $font__main;
            &:placeholder {
                color: #d8d8d8;
            }
        }
        &__btn {
            @include animation__speed(450ms, ease-in);
            height: 55px;
            width: 132px;
            background-color: #ffe26d;
            border-top-right-radius: 2.9px;
            border-bottom-right-radius: 2.9px;
            &:hover {
                background-color: #62497c;
                color: #ffffff;
            }
        }
    }
}
