.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: center;
  padding-top: 100px;
  &__title {
    font-size: 40px;
    color: #7c0dff;
  }
  &__fields {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }
}
