* {
  margin: 0;
  padding: 0;
  font-size: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes left {
  to {
    -webkit-transition-timing-function: cubic-bezier(0.42, 0, 1, 1);
            transition-timing-function: cubic-bezier(0.42, 0, 1, 1);
  }
  5% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  10% {
    -webkit-transform: translate3d(20%, 0, 0);
            transform: translate3d(20%, 0, 0);
  }
  35% {
    -webkit-transform: translate3d(-40%, 0, 0);
            transform: translate3d(-40%, 0, 0);
  }
  65% {
    -webkit-transform: translate3d(30%, 0, 0);
            transform: translate3d(30%, 0, 0);
  }
  80% {
    -webkit-transform: translate3d(-20%, 0, 0);
            transform: translate3d(-20%, 0, 0);
  }
  to {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
}

@keyframes left {
  to {
    -webkit-transition-timing-function: cubic-bezier(0.42, 0, 1, 1);
            transition-timing-function: cubic-bezier(0.42, 0, 1, 1);
  }
  5% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  10% {
    -webkit-transform: translate3d(20%, 0, 0);
            transform: translate3d(20%, 0, 0);
  }
  35% {
    -webkit-transform: translate3d(-40%, 0, 0);
            transform: translate3d(-40%, 0, 0);
  }
  65% {
    -webkit-transform: translate3d(30%, 0, 0);
            transform: translate3d(30%, 0, 0);
  }
  80% {
    -webkit-transform: translate3d(-20%, 0, 0);
            transform: translate3d(-20%, 0, 0);
  }
  to {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
}

@-webkit-keyframes right {
  to {
    -webkit-transition-timing-function: cubic-bezier(0.42, 0, 1, 1);
            transition-timing-function: cubic-bezier(0.42, 0, 1, 1);
  }
  5% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  10% {
    -webkit-transform: translate3d(-20%, 0, 0);
            transform: translate3d(-20%, 0, 0);
  }
  35% {
    -webkit-transform: translate3d(40%, 0, 0);
            transform: translate3d(40%, 0, 0);
  }
  65% {
    -webkit-transform: translate3d(-30%, 0, 0);
            transform: translate3d(-30%, 0, 0);
  }
  80% {
    -webkit-transform: translate3d(20%, 0, 0);
            transform: translate3d(20%, 0, 0);
  }
  to {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
}

@keyframes right {
  to {
    -webkit-transition-timing-function: cubic-bezier(0.42, 0, 1, 1);
            transition-timing-function: cubic-bezier(0.42, 0, 1, 1);
  }
  5% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  10% {
    -webkit-transform: translate3d(-20%, 0, 0);
            transform: translate3d(-20%, 0, 0);
  }
  35% {
    -webkit-transform: translate3d(40%, 0, 0);
            transform: translate3d(40%, 0, 0);
  }
  65% {
    -webkit-transform: translate3d(-30%, 0, 0);
            transform: translate3d(-30%, 0, 0);
  }
  80% {
    -webkit-transform: translate3d(20%, 0, 0);
            transform: translate3d(20%, 0, 0);
  }
  to {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
}

@-webkit-keyframes up {
  to {
    -webkit-transition-timing-function: cubic-bezier(0.42, 0, 1, 1);
            transition-timing-function: cubic-bezier(0.42, 0, 1, 1);
  }
  5% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  10% {
    -webkit-transform: translate3d(0, 20%, 0);
            transform: translate3d(0, 20%, 0);
  }
  35% {
    -webkit-transform: translate3d(0, -40%, 0);
            transform: translate3d(0, -40%, 0);
  }
  65% {
    -webkit-transform: translate3d(0, 30%, 0);
            transform: translate3d(0, 30%, 0);
  }
  80% {
    -webkit-transform: translate3d(0, -20%, 0);
            transform: translate3d(0, -20%, 0);
  }
  to {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
}

@keyframes up {
  to {
    -webkit-transition-timing-function: cubic-bezier(0.42, 0, 1, 1);
            transition-timing-function: cubic-bezier(0.42, 0, 1, 1);
  }
  5% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  10% {
    -webkit-transform: translate3d(0, 20%, 0);
            transform: translate3d(0, 20%, 0);
  }
  35% {
    -webkit-transform: translate3d(0, -40%, 0);
            transform: translate3d(0, -40%, 0);
  }
  65% {
    -webkit-transform: translate3d(0, 30%, 0);
            transform: translate3d(0, 30%, 0);
  }
  80% {
    -webkit-transform: translate3d(0, -20%, 0);
            transform: translate3d(0, -20%, 0);
  }
  to {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  20% {
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
  }
  30% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  90% {
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  20% {
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
  }
  30% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  90% {
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

.animation__move__left, .animation__move__right, .animation__move__up {
  -webkit-animation-name: left;
          animation-name: left;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.animation__move__right {
  -webkit-animation-name: right;
          animation-name: right;
}

.animation__move__up {
  -webkit-animation-name: up;
          animation-name: up;
}

.width__container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1400px;
  }
}

@media screen and (max-width: 992px) {
  .content__container {
    width: 85%;
  }
}

@media screen and (min-width: 992px) {
  .content__container {
    width: 698px;
  }
}

.nav__item {
  padding: 8px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  width: 434px;
  list-style: none;
}

.nav__list .nav__link {
  -webkit-transition: all 450ms ease-in;
  transition: all 450ms ease-in;
  text-transform: uppercase;
  text-decoration: none;
  font: 700 10.5px/7px Montserrat;
  color: #ffffff;
}

.nav__list .nav__link--active {
  color: #ffe26d;
}

.nav__button {
  -webkit-transition: all 450ms ease-in;
  transition: all 450ms ease-in;
  padding: 10px 15px;
  position: fixed;
  z-index: 2;
  right: 35px;
  top: 30px;
  background: rgba(0, 0, 0, 0.28);
  border: none;
  color: white;
}

.nav__button .nav__button__icon {
  width: 20px;
  height: 23px;
}

.nav__button:focus ~ .nav__container__list .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  height: 100%;
}

.nav__button:focus ~ .nav__container__list {
  -webkit-transition: all 450ms ease-in;
  transition: all 450ms ease-in;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100vh;
  min-height: 300px;
  width: 100vw;
  background: rgba(0, 0, 0, 0.83);
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .nav__button {
    display: block;
  }
  .nav__list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .nav__button {
    display: none;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 992px) {
  .nav__item:hover .nav__link {
    -webkit-transform: scale(1.4, 1.4);
            transform: scale(1.4, 1.4);
    display: inline-block;
    color: #ffe26d;
  }
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.list__item__description .item__title {
  text-align: center;
  text-transform: uppercase;
  font: 800 14.5px Montserrat;
  color: #040405;
}

.list__item__description .item__description {
  font: 13.5px/24px Helvetica;
}

.title {
  margin: 0;
  letter-spacing: 0.1px;
  text-align: center;
  font: 700 43px Montserrat;
  color: #040405;
}

.title--invert {
  color: #fefefe;
}

@media (max-width: 992px) {
  .title {
    font-size: 37px;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 27px;
  }
}

.btn {
  -webkit-transition: all 450ms ease-in;
  transition: all 450ms ease-in;
  padding-top: 14px;
  padding-bottom: 13px;
  padding-left: 26px;
  padding-right: 26px;
  display: inline-block;
  border: 0;
  border-radius: 2.9px;
  text-decoration: none;
  text-transform: uppercase;
  font: 800 10.3px Montserrat;
}

.btn--middle {
  padding: 15px 25px;
}

.btn--small {
  padding: 8px 29px;
}

@media screen and (min-width: 992px) {
  .btn {
    cursor: pointer;
  }
}

.header {
  padding-top: 41px;
  padding-bottom: 41px;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.header__logo {
  text-transform: uppercase;
  letter-spacing: -2.1px;
  font: 700 26.5px/23px Montserrat;
  color: #fff;
}

.home__container {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  position: relative;
}

.home__slider {
  position: relative;
}

.home__slider .slider__title {
  letter-spacing: -0.9px;
  font-weight: 700;
  font-family: Montserrat;
  color: #ffffff;
}

.home__slider .slider__description {
  margin-top: 29px;
  max-width: 418px;
  letter-spacing: 0.1px;
  font: 100 18.9px Roboto;
  color: #ffffff;
}

.home__slider .slider__btn {
  background-color: #ffe26d;
  margin-top: 24px;
  margin-left: 2px;
}

.home__slider .dotted {
  bottom: 25px;
  position: absolute;
}

.home__slider .dotted__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  list-style: none;
}

.home__slider .dotted__item {
  margin-right: 7px;
  width: 7px;
  height: 7px;
  background-color: #ffffff;
  border-radius: 50%;
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  .home {
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #24415f;
    background-position: top;
  }
  .home__container {
    padding-top: 20vh;
  }
  .slider__title {
    font-size: 35px;
  }
}

@media screen and (max-width: 596px) {
  .home {
    height: 100vh;
    min-height: 320px;
  }
}

@media screen and (min-width: 768px) {
  .home {
    height: 692.6px;
    background-size: contain;
    background: center no-repeat;
  }
  .home__container {
    padding-top: 183px;
  }
  .slider__title {
    max-width: 472px;
    font-size: 40.5px;
  }
}

@media screen and (min-width: 992px) {
  .slider__btn {
    -webkit-transition: all 450ms ease-in;
    transition: all 450ms ease-in;
  }
  .slider__btn:hover {
    background-color: #62497c;
    color: #ffffff;
  }
  .dotted__item {
    -webkit-transition: all 450ms ease-in;
    transition: all 450ms ease-in;
    cursor: pointer;
  }
  .dotted__item--active {
    opacity: 1;
  }
  .dotted__item:hover {
    opacity: 0.8;
  }
}

.main__container__advantage {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-bottom: 2px solid #dcd8d8;
}

.main__description {
  padding: 0;
  font-family: Roboto;
  font-weight: 100;
  line-height: 35px;
  color: #040405;
}

.main .container__icon {
  width: 188px;
  height: 195px;
}

@media screen and (max-width: 596px) {
  .main__container {
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media screen and (min-width: 596px) {
  .main__container {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 768px) {
  .main {
    padding-top: 38px;
  }
  .main__description {
    text-align: center;
    font-size: 18.5px;
  }
  .main__container__advantage {
    padding-bottom: 30px;
  }
  .container__description {
    margin-top: 35px;
  }
  .container__icon {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .main {
    padding-top: 58px;
  }
  .main__description {
    font-size: 26.5px;
  }
  .main__container__advantage {
    padding-bottom: 45px;
  }
  .container__description {
    margin-top: 55px;
    width: 65%;
  }
  .container__icon {
    margin-top: 44px;
    padding-left: 37px;
    width: 35%;
  }
}

@media screen and (min-width: 992px) {
  .main {
    padding-top: 78px;
  }
  .main__description {
    font-size: 30.5px;
  }
  .main__container__advantage {
    padding-bottom: 58px;
    width: 725px;
  }
  .container__description {
    margin-top: 68px;
  }
  .container__icon {
    margin-top: 54px;
  }
}

.advantage__item {
  max-width: 187px;
}

.advantage__item .advantage__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 29px;
  background-color: #62497c;
  border-radius: 50%;
  width: 81px;
  height: 81px;
}

.advantage__item .advantage__title {
  margin-bottom: 18px;
  font-weight: 700;
  color: #62497c;
}

.advantage__item .advantage__description {
  margin-bottom: 29px;
  letter-spacing: -0.1px;
  color: rgba(4, 4, 5, 0.5);
}

.advantage__item .advantage__btn {
  background-color: #ffe26d;
  color: #323232;
}

@media screen and (max-width: 768px) {
  .advantage__item {
    margin-top: 39px;
  }
}

@media screen and (min-width: 768px) {
  .advantage__item {
    margin-top: 59px;
  }
}

@media screen and (max-width: 992px) {
  .advantage {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 992px) {
  .advantage {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .advantage__btn:hover {
    background-color: #62497c;
    color: #ffffff;
  }
}

.projects .project__item {
  padding-left: 0;
  padding-right: 0;
  width: 25%;
}

.projects .project__item .project__preview {
  width: 100%;
}

.projects .project__item .project__info {
  padding-top: 45px;
  padding-bottom: 45px;
  padding-left: 43px;
  padding-right: 30px;
  min-height: 156px;
}

.projects .project__item .project__info .project__name {
  text-align: left;
  margin-bottom: 9px;
}

.projects .project__item .project__info .project__description {
  margin-bottom: 11px;
  letter-spacing: -0.1px;
  color: rgba(4, 4, 5, 0.5);
}

.projects .project__item .project__info .project__btn {
  background-color: #ffffff;
  font-size: 9.9px;
}

.projects .project__item:nth-child(2n+1) {
  background-color: #efefef;
}

.projects .project__item:nth-child(2n) {
  background-color: #e4e4e4;
}

@media screen and (max-width: 768px) {
  .projects {
    padding-top: 38px;
  }
  .projects__list {
    margin-top: 35px;
  }
}

@media screen and (min-width: 768px) {
  .projects {
    padding-top: 48px;
  }
  .projects__list {
    margin-top: 47px;
  }
}

@media screen and (min-width: 992px) {
  .projects .project__item {
    -webkit-transition: all 450ms ease-in;
    transition: all 450ms ease-in;
  }
  .projects .project__item:hover .project__btn {
    background-color: #62497c;
    color: #ffffff;
  }
  .projects .project__item:hover {
    background-color: #ffe26d;
  }
}

@media screen and (min-width: 1200px) {
  .project__preview {
    height: 484.1px;
  }
}

.pricing {
  padding-bottom: 87px;
  overflow: hidden;
}

.pricing .title {
  margin-bottom: 0;
}

.pricing__list {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  list-style: none;
}

.pricing__list__item {
  margin-top: 30px;
  min-width: 225px;
}

.pricing__title {
  margin-bottom: 17px;
}

.pricing__price {
  font: 700 13.9px Montserrat;
  color: rgba(4, 4, 5, 0.39);
}

.pricing__info {
  padding-top: 14px;
  padding-bottom: 17px;
  margin-bottom: 0;
  list-style: none;
}

.pricing__info li {
  font-weight: 700;
  font-size: 10.5px;
  line-height: 22px;
  color: #040405;
}

.pricing__btn {
  background-color: #ffe26d;
}

@media screen and (max-width: 768px) {
  .pricing {
    padding-top: 38px;
  }
  .pricing__list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 500px;
  }
  .pricing__list__item {
    margin-top: 35px;
  }
}

@media screen and (max-width: 596px) {
  .pricing__list {
    width: auto;
  }
}

@media screen and (min-width: 768px) {
  .pricing {
    padding-top: 79px;
  }
  .pricing__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 685px;
  }
  .pricing__list__item {
    margin-top: 44px;
  }
  .pricing__list__item:nth-child(2) {
    border-left: 2px solid #e8e8e8;
    border-right: 2px solid #e8e8e8;
  }
}

@media screen and (min-width: 992px) {
  .pricing__list__item {
    -webkit-transition: all 450ms ease-in;
    transition: all 450ms ease-in;
  }
  .pricing__list__item .item__container {
    -webkit-transition: all 400ms ease-in;
    transition: all 400ms ease-in;
  }
  .pricing__list__item:hover .item__container {
    -webkit-transform: scale3d(1.2, 1.2, 1) rotateX(360deg);
            transform: scale3d(1.2, 1.2, 1) rotateX(360deg);
  }
  .pricing__btn:hover {
    background-color: #62497c;
    color: #ffffff;
  }
}

.video {
  background-color: #62497c;
  overflow: hidden;
}

.video__container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.video__slider {
  margin-left: -31%;
  position: relative;
  width: 162%;
}

.video__slider .slider__item {
  margin-bottom: 23px;
  position: relative;
  height: 461px;
}

.video__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  margin-top: 23px;
}

.video__title, .video__time {
  text-transform: uppercase;
  letter-spacing: -0.5px;
  font: 800 10.6px Montserrat;
  color: #fefefe;
}

.video__preview {
  position: relative;
}

.video__preview .preview__play {
  position: absolute;
  left: 41%;
  top: 36%;
}

.video__image {
  max-width: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 596px) {
  .video__preview {
    height: 250px;
  }
  .video__preview .preview__play {
    left: 35%;
    top: 35%;
    width: 85px;
    height: 85px;
  }
  .video__image {
    height: 250px;
  }
}

@media screen and (min-width: 596px) {
  .video__preview .preview__play {
    width: 121px;
    height: 121px;
  }
  .video__preview__image {
    max-height: 355px;
  }
}

@media screen and (max-width: 786px) {
  .video {
    padding-top: 40px;
    padding-bottom: 50px;
    padding-left: 0;
    padding-right: 0;
  }
  .video__container {
    padding-top: 35px;
  }
  .video__slider {
    margin: 0;
    width: 100%;
    left: 0;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .video__slider .slider__item {
    height: auto;
    min-width: 100%;
  }
  .video__item {
    min-width: 100%;
  }
  .video__image {
    width: 100%;
    max-height: 412px;
  }
}

@media screen and (min-width: 786px) {
  .video {
    padding-top: 80px;
    padding-bottom: 114px;
  }
  .video__container {
    padding-top: 39px;
  }
  .video .preview__play {
    height: auto;
  }
  .video__image {
    width: 100%;
    height: 461px;
  }
}

@media screen and (min-width: 992px) {
  .video__preview:hover::before {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .video__preview::before {
    -webkit-transition: all 450ms ease-in;
    transition: all 450ms ease-in;
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
  }
  .video__preview .preview__play:focus {
    -webkit-animation: pulse 1s ease-in-out infinite;
            animation: pulse 1s ease-in-out infinite;
    cursor: pointer;
    outline: none;
  }
}

.team__container {
  margin-left: auto;
  margin-right: auto;
}

.team .person__item {
  margin-bottom: 17px;
}

.team .person__preview {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;
  position: relative;
  height: 172px;
  width: 172px;
}

.team .person__image {
  width: 100%;
  border-radius: 50%;
}

.team .person__name {
  margin-bottom: 11px;
}

.team .person__job {
  text-align: center;
  font: 14.5px Montserrat;
  color: rgba(4, 4, 5, 0.39);
}

@media screen and (max-width: 596px) {
  .team__container {
    width: auto;
  }
}

@media screen and (max-width: 768px) {
  .team {
    padding-top: 38px;
    padding-bottom: 60px;
  }
  .team__container {
    width: 445px;
  }
  .team .person__item {
    margin-top: 35px;
  }
}

@media screen and (min-width: 768px) {
  .team {
    padding-top: 70px;
    padding-bottom: 123px;
  }
  .team .person__item {
    margin-top: 44px;
  }
}

@media screen and (max-width: 992px) {
  .team__container {
    width: auto;
  }
}

@media screen and (min-width: 992px) {
  .team__container {
    width: 750px;
  }
  .team .person__preview {
    cursor: pointer;
  }
  .team .person__preview:hover::before {
    height: 172px;
    width: 172px;
    opacity: 0.6;
  }
  .team .person__preview::before {
    -webkit-transition: all 450ms ease-in-out;
    transition: all 450ms ease-in-out;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    background-color: #62497c;
    border-radius: 50%;
    opacity: 0.6;
    content: "";
  }
}

.life {
  background-color: #efefef;
}

.life__container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 695px;
}

.life .gallery {
  max-width: 692px;
}

.life .gallery__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.life .gallery__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 29px;
  height: 69px;
  background-color: #2a2a2a;
}

.life .gallery__icon {
  color: white;
  font-size: 14px;
}

.life .full__photo {
  margin-bottom: 15px;
  width: 100%;
  max-height: 429px;
}

.life .thumbnail__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  width: calc(100% - 70px);
  overflow: hidden;
}

.life .thumbnail__container .thumbnail__photo {
  margin-right: 13.6px;
  width: 110px;
  height: 69px;
}

.life .thumbnail__container .thumbnail__photo:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .life {
    padding-top: 38px;
    padding-bottom: 50px;
  }
  .life .full__photo {
    margin-top: 35px;
  }
}

@media screen and (min-width: 768px) {
  .life {
    padding-top: 72px;
    padding-bottom: 109px;
  }
  .life .full__photo {
    margin-top: 37px;
  }
}

@media screen and (min-width: 992px) {
  .gallery__arrow {
    -webkit-transition: all 450ms ease-in;
    transition: all 450ms ease-in;
  }
  .gallery__arrow:hover {
    cursor: pointer;
    background-color: #62497c;
  }
  .thumbnail__photo {
    cursor: pointer;
  }
}

.subscription {
  padding-bottom: 50px;
  background-image: url("../../../src/img/subscription/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 329px;
}

.subscription__form {
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.subscription__form__input {
  padding-left: 16px;
  border-top-left-radius: 2.9px;
  border-bottom-left-radius: 2.9px;
  background-color: #fefefe;
  border: none;
  font: 500 19px/40.5px Montserrat;
}

.subscription__form__input:placeholder {
  color: #d8d8d8;
}

.subscription__form__btn {
  -webkit-transition: all 450ms ease-in;
  transition: all 450ms ease-in;
  background-color: #ffe26d;
  border-top-right-radius: 2.9px;
  border-bottom-right-radius: 2.9px;
}

@media screen and (max-width: 768px) {
  .subscription {
    padding-top: 38px;
  }
  .subscription__form {
    margin-top: 35px;
    width: 311px;
  }
  .subscription__form__input {
    height: 44px;
  }
  .subscription__form__btn {
    margin-top: 15px;
    height: 44px;
  }
}

@media screen and (max-width: 360px) {
  .subscription__form {
    width: auto;
  }
}

@media screen and (min-width: 768px) {
  .subscription {
    padding-top: 49px;
  }
  .subscription__form {
    margin-top: 28px;
    width: 546px;
  }
  .subscription__form__input {
    height: 55px;
  }
  .subscription__form__btn {
    height: 55px;
  }
}

@media screen and (min-width: 992px) {
  .subscription__form__btn:hover {
    background-color: #62497c;
    color: #ffffff;
  }
}

.blog__container {
  margin-left: auto;
  margin-right: auto;
}

.blog__container__description {
  text-align: center;
}

.blog__item {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 237px;
  background-color: #ffffff;
}

.blog__title {
  margin-left: 16px;
  margin-right: 14px;
  margin-top: 32px;
  margin-bottom: 16px;
}

.blog__preview {
  width: 100%;
}

.blog__date, .blog__description {
  margin-bottom: 15px;
  text-align: center;
  font: 13.5px/1.74 Helvetica;
  color: rgba(4, 4, 5, 0.5);
}

.blog__description {
  margin-bottom: 23px;
  color: #040405;
}

.blog__btn {
  margin-left: auto;
  margin-right: auto;
  background-color: #ececec;
}

@media screen and (max-width: 596px) {
  .blog__container {
    width: auto;
  }
}

@media screen and (min-width: 596px) {
  .blog__container {
    width: 490px;
  }
}

@media screen and (max-width: 768px) {
  .blog {
    padding-top: 38px;
    padding-bottom: 50px;
  }
  .blog__container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .blog__item {
    margin-top: 35px;
  }
}

@media screen and (min-width: 768px) {
  .blog {
    padding-top: 64px;
    padding-bottom: 88px;
  }
  .blog__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 724px;
  }
  .blog__item {
    margin-top: 52px;
  }
}

@media screen and (min-width: 992px) {
  .blog__item {
    -webkit-transition: all 450ms ease-in;
    transition: all 450ms ease-in;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
  }
  .blog__item:focus {
    position: relative;
    z-index: 1;
  }
  .blog__item:nth-child(1):focus {
    -webkit-transform: scale(1.2) translate(85%, 0);
            transform: scale(1.2) translate(85%, 0);
  }
  .blog__item:nth-child(2):focus {
    -webkit-transform: scale(1.2) translate(0, 0);
            transform: scale(1.2) translate(0, 0);
  }
  .blog__item:nth-child(3):focus {
    -webkit-transform: scale(1.2) translate(-85%, 0);
            transform: scale(1.2) translate(-85%, 0);
  }
  .blog__btn:hover {
    background-color: #ffe26d;
  }
}

.contact__map {
  padding-left: 0;
  padding-right: 0;
}

.contact__info {
  padding-bottom: 52px;
  background-color: #ffe26d;
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.contact__form .form__label {
  margin-bottom: 10px;
  text-transform: uppercase;
  font: 800 10px Montserrat;
  color: #323232;
}

.contact__form .form__input, .contact__form .form__btn {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 19px;
  height: 44px;
  border: none;
  -webkit-box-shadow: 0.5px 0.9px 1px 0 rgba(22, 22, 23, 0.09);
          box-shadow: 0.5px 0.9px 1px 0 rgba(22, 22, 23, 0.09);
  background-color: #fefefe;
  font: 19px/21px Montserrat;
}

.contact__form .form__area {
  padding-top: 10px;
  margin-bottom: 15px;
  height: 145px;
  resize: none;
}

.contact__form .form__btn {
  margin-bottom: 0;
  background-color: #62497c;
  border-radius: 0;
  font: 600 10px Montserrat;
  color: #fefefe;
}

@media screen and (max-width: 360px) {
  .contact__map {
    height: 300px;
  }
  .form__input, .contact__form .form__btn {
    width: 100%;
  }
}

@media screen and (min-width: 360px) {
  .contact__map {
    height: 350px;
  }
  .contact__form {
    margin-left: auto;
    margin-right: auto;
    width: 311px;
  }
  .form__input, .contact__form .form__btn {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .contact__info {
    padding-top: 38px;
  }
  .contact__title {
    margin-bottom: 35px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .contact__map {
    height: auto;
  }
  .contact__form {
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }
  .contact__info {
    padding-top: 42px;
    padding-left: 43.4px;
  }
  .contact__title {
    margin-bottom: 22px;
    text-align: left;
  }
  .form__input, .contact__form .form__btn {
    width: 311px;
  }
}

@media screen and (min-width: 992px) {
  .form__input, .contact__form .form__btn {
    width: 311px;
  }
  .form__btn {
    -webkit-transition: all 450ms ease-in;
    transition: all 450ms ease-in;
  }
  .form__btn:hover {
    background-color: #fefefe;
    color: #323232;
  }
}

.footer {
  padding-bottom: 115px;
}

.footer__lists__item {
  margin-top: 78px;
}

.footer__lists__item:nth-child(2) .footer__title {
  margin-bottom: 24px;
}

.footer__lists__item .footer__title {
  margin-bottom: 17px;
  letter-spacing: -0.2px;
  font-size: 10px;
}

.footer__lists__item .footer__list {
  list-style: none;
}

.footer__lists__item .footer__list .footer__item, .footer__lists__item .footer__list .footer__item .footer__link {
  text-decoration: none;
  text-align: center;
  font: 13.5px/23px Helvetica;
  color: #040405;
}

.footer__lists__item .footer__list .footer__item .footer__link {
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.footer__lists__item .social__list {
  margin-left: auto;
  margin-right: auto;
  width: 140px;
}

.footer__lists__item .social__list .social_item:nth-child(n+4) {
  margin-top: 10px;
}

.footer__lists__item .social__list .social__icon {
  color: #000000;
  text-decoration: none;
  font-size: 20px;
}

@media screen and (max-width: 576px) {
  .footer {
    padding-bottom: 50px;
  }
  .footer__lists__item {
    margin-top: 50px;
  }
}

@media screen and (min-width: 576px) {
  .footer__lists {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
  }
}

@media screen and (max-width: 768px) {
  .footer__lists {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 768px) {
  .footer__lists {
    width: 727px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 992px) {
  .social_item:hover .social__icon {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
    color: #62497c;
  }
  .social__icon {
    -webkit-transition: all 350ms ease-in-out;
    transition: all 350ms ease-in-out;
  }
}
/*# sourceMappingURL=styles.css.map */