.list {
	@include flex(row, wrap, space-between, flex-start, flex-start);
	&__item {
		&__image {}
		&__description {
			.item__title {
				text-align: center;
				text-transform: uppercase;
				font: 800 14.5px $font__main;
				color: #040405;
			}
			.item__description {
				font: 13.5px/24px Helvetica;
			}
			.item__btn {}
		}
	}
}