<div class="field__container">
  <div class="field__column-coordinate">
    <p
      class="field__coordinate"
      *ngFor="let row of fieldArr; let coordY = index">
      {{getLetter(coordY)}}
    </p>
  </div>
  <div class="field">
    <div class="field__row-coordinate">
      <p
        class="field__coordinate"
        *ngFor="let row of fieldArr; let coordX = index">
        {{coordX + 1}}
      </p>
    </div>
    <div class="field__game">
      <div *ngFor="let row of fieldArr">
        <app-cell
          *ngFor="let cell of row"
          [cell]="cell"
          [isEnemy]="isEnemy"
          [avaliableToPlay]="true">
        </app-cell>
      </div>
    </div>
  </div>
  <p
    class="field__description">
    {{description}}
  </p>
</div>
